/* Global Styles */
body { font-family: 'Lexend', sans-serif; }
.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
.fill-1 { font-variation-settings: 'FILL' 1; }
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.academic-pattern {
    background-color: #101622;
    background-image: radial-gradient(#1e293b 0.5px, transparent 0.5px);
    background-size: 24px 24px;
}
